$r-min-width: $xs-min-width $sm-min-width $md-min-width $lg-min-width;
$r-font-size: $xs-font-size $sm-font-size $md-font-size $lg-font-size;
$r-font-size-large: $xs-font-size-large $sm-font-size-large $md-font-size-large $lg-font-size-large;
$r-space-tiny: $xs-space-tiny $sm-space-tiny $md-space-tiny $lg-space-tiny;
$r-space-small: $xs-space-small $sm-space-small $md-space-small $lg-space-small;
$r-space-medium: $xs-space-medium $sm-space-medium $md-space-medium $lg-space-medium;
$r-space-large: $xs-space-large $sm-space-large $md-space-large $lg-space-large;
$r-header-height: $xs-header-height $sm-header-height $md-header-height $lg-header-height;
$r-footer-height: $xs-footer-height $sm-footer-height $md-footer-height $lg-footer-height;
$r-button-size: $xs-button-size $sm-button-size $md-button-size $lg-button-size;
