$font-family: Arial, Helvetica, sans-serif;
$font-weight-bold: 700;

$video-aspect-ratio: 16 / 9;

$background-color: #fff;
$foreground-color: #000;
$accent-color-1: #36c;
$accent-color-2: #f66;
$accent-color-3: #c33;
$info-color: #09c;
$warning-color: #c90;
$error-color: #c00;
$scrollbar-foreground-color: #d0d0d0;
$scrollbar-background-color: #f9f9f9;

$scrollbar-size: 8px;

$xs-min-width: 240px;
$xs-font-size: 12px;
$xs-font-size-medium: $xs-font-size * 1.1;
$xs-font-size-large: $xs-font-size * 1.33;
$xs-space-tiny: 1px;
$xs-space-small: 4px;
$xs-space-medium: 7px;
$xs-space-large: 10px;
$xs-button-size: $xs-font-size-medium + $xs-space-medium * 2;
$xs-header-height: $xs-button-size + $xs-space-large * 2;
$xs-header-spacing: $xs-space-large + ($xs-button-size - $xs-font-size-large) / 2;
$xs-footer-height: $xs-button-size + $xs-space-large * 2;

$sm-min-width: 360px;
$sm-font-size: $xs-font-size;
$sm-font-size-medium: $xs-font-size-medium;
$sm-font-size-large: $xs-font-size-large;
$sm-space-tiny: $xs-space-tiny;
$sm-space-small: $xs-space-small;
$sm-space-medium: $xs-space-medium;
$sm-space-large: $xs-space-large;
$sm-button-size: $xs-button-size;
$sm-header-height: $xs-header-height;
$sm-header-spacing: $xs-header-spacing;
$sm-footer-height: $xs-footer-height;

$md-min-width: 480px;
$md-font-size: 16px;
$md-font-size-medium: $md-font-size * 1.1;
$md-font-size-large: $md-font-size * 1.33;
$md-space-tiny: 2px;
$md-space-small: 4px;
$md-space-medium: 8px;
$md-space-large: 16px;
$md-button-size: $md-font-size-medium + $md-space-medium * 2;
$md-header-height: $md-button-size + $md-space-large * 2;
$md-header-spacing: $md-space-large + ($md-button-size - $md-font-size-large) / 2;
$md-footer-height: $md-button-size + $md-space-large * 2;

$lg-min-width: 720px;
$lg-font-size: $md-font-size;
$lg-font-size-medium: $md-font-size-medium;
$lg-font-size-large: $md-font-size-large;
$lg-space-tiny: $md-space-tiny;
$lg-space-small: $md-space-small;
$lg-space-medium: $md-space-medium;
$lg-space-large: $md-space-large;
$lg-button-size: $md-button-size;
$lg-header-height: $md-header-height;
$lg-header-spacing: $md-header-spacing;
$lg-footer-height: $md-footer-height;

$heart-size: 90px;
$heart-curvature: 0.6;
$heart-scale: 1.125;
